<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./../../assets/styles/css/privacy.css">
</head>

<body>
    <div class="terms_top">
        <a [routerLink]="['/']"><img src="./../../assets/svg/logo.svg" class="logo"></a>
    </div>

    <p class="privacy">Yobicash Privacy Policy</p>
    <div class="privacy_content">
        
        <p class="pri_title">Last updated: December 05, 2017
            <br><br>
            Yobicash Ltd ("us", "we", or "our") operates the https://yobicash.org website (the "Service").
            <br><br>
            This page informs you of our policies regarding the collection, use and disclosure of Personal Information when you
            <br>
            use our Service.
            <br><br>
            We will not use or share your information with anyone except as described in this Privacy Policy.
            <br><br>
            We use your Personal Information for providing and improving the Service. By using the Service, you agree to the
            <br>
            collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy,
            <br>
            terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at https://
            <br>
            yobicash.org
        </p>

        <br><br><br><br>
        <p class="pri_title">Information Collection And Use</p>
            <br><br>
        <p class="pri_content">
            While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to
            <br>
            contact or identify you. Personally identifiable information may include, but is not limited to, your email address, name, other
            <br>
            information ("Personal Information").
        </p>

        <br><br><br><br>
        <p class="pri_title">Log Data</p>
        <br><br>
        <p class="pri_content">
            We may also collect information that your browser sends whenever you visit our Service ("Log Data"). This Log Data may include
            <br>
            information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Service
            <br>
            that you visit, the time and date of your visit, the time spent on those pages and other statistics. 
            <br><br>
            In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this type of information in 
            <br>
            order to increase our Service's functionality. These third party service providers have their own privacy policies addressing how
            <br>
            they use such information.
        </p>

        <br><br><br><br>
        <p class="pri_title">Cookies</p>
        <br><br>
        <p class="pri_content">
            Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser<br> 
            from a web site and stored on your computer's hard drive.
            <br><br>        
            We use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being<br>
            sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.
            <br><br>     
            Service Providers We may employ third party companies and individuals to facilitate our Service, to provide the Service on our<br> 
            behalf, to perform Service-related services or to assist us in analyzing how our Service is used.
            <br><br>    
            These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated not to<br>
            disclose or use it for any other purpose.
        </p>

        <br><br><br><br>
        <p class="pri_title">Communications</p>
        <br><br>
        <p class="pri_content">
            We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other<br>
            information that may be of interest to you. You may opt out of receiving any, or all, of these communications from us by <br>
            following the unsubscribe link or instructions provided in any email we send.   
        </p>

        <br><br><br><br>
        <p class="pri_title">Compliance With Laws</p>
        <br><br>
        <p class="pri_content">
            We will disclose your Personal Information where required to do so by law or in accordance with an order of a court of <br>
            competent jurisdiction, or if we believe that such action is necessary to comply with the law and the reasonable requests of law <br>
            enforcement or to protect the security or integrity of our Service.
        </p>

        <br><br><br><br>
        <p class="pri_title">Business Transaction</p>
        <br><br>
        <p class="pri_content">
            If Yobicash Ltd is involved in a merger, acquisition or asset sale, your Personal Information may be transferred. We will provide <br>
            notice before your Personal Information is transferred and becomes subject to a different Privacy Policy. In the event of such a <br>
            transfer of information, your rights under the Data Protection Act 1998 are not affected.
        </p>

        <br><br><br><br>
        <p class="pri_title">Security</p>
        <br><br>
        <p class="pri_content">
            The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or <br>
            method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal <br>
            Information, we cannot guarantee its absolute security. As such we make no warranties as to the level of security afforded to <br>
            your data, except that we will always act in accordance with the relevant UK and EU legislation.
        </p>
    
        <br><br><br><br>
        <p class="pri_title">International Transfer</p>
        <br><br>
        <p class="pri_content">
            Your information, including Personal Information, may be transferred to — and maintained on — computers located outside of<br>
            your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your<br>
            jurisdiction.
            <br><br>
            If you are located outside United Kingdom and choose to provide information to us, please note that we transfer the information,<br>
            including Personal Information, to United Kingdom and process it there.
            <br><br>
            Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.<br>
            <br><br>
            In the event that a dispute arises with regards to the international transfer of data, you agree that the courts of England and <br>
            Wales shall have exclusive jurisdiction over the matter.
        </p>

        <br><br><br><br>
        <p class="pri_title">Links To Other Sites</p>
        <br><br>
        <p class="pri_content">
            Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to<br>
            that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.
            <br><br>
            We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or<br>
            services.
        </p>

        <br><br><br><br>
        <p class="pri_title">Children's Privacy</p>
        <br><br>
        <p class="pri_content">
            Our Service does not address anyone under the age of 13 ("Children").
            <br><br>
            We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you <br>
            are aware that your Children has provided us with Personal Information, please contact us. If we become aware that we have <br>
            collected Personal Information from a child under age 13 without verification of parental consent, we take steps to remove that <br>
            information from our servers.
        </p>

        <br><br><br><br>
        <p class="pri_title">Changes To This Privacy Policy</p>
        <br><br>
        <p class="pri_content">
            We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this <br>
            page.
            <br><br>
            You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they <br>
            are posted on this page.
            <br><br>
            If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, <br>
            or by placing a prominent notice on our website.
        </p>

        <br><br><br><br>
        <p class="pri_title">Jurisdiction</p>
        <br><br>
        <p class="pri_content">
            This Policy shall be governed and construed in accordance with the laws of England and Wales, without regard to its conflict of <br>
            law provisions.
        </p>

        <br><br><br><br>
        <p class="pri_title">Contact Us</p>
        <br><br>
        <p class="pri_content">
            If you have any questions about this Privacy Policy, please contact us.
        </p>

    </div>
    <app-contact></app-contact>
</body>

</html>