<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./../../assets/styles/css/privacy.css">
</head>

<body>
    <div class="terms_top">
        <a [routerLink]="['/']"><img src="./../../assets/svg/logo.svg" class="logo"></a>
    </div>

    <p class="privacy">Yobicash Terms and Conditions</p>
    <div class="privacy_content">
        <p class="pri_title">
            Last updated: December 05, 2017
            <br><br>
            Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the <br>
            https://yobicash.org website (the "Service") operated by Yobicash Ltd ("us", "we", or "our").
            <br><br>
            Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. <br>
            These Terms apply to all visitors, users and others who access or use the Service.
            <br><br>
            By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms <br>
            then you may not access the Service.
        </p>

        <br><br><br><br>
        <p class="pri_title">Intellectual Property</p>
        <br><br>
        <p class="pri_content">
            The Service and its original content, features and functionality are and will remain the exclusive property of Yobicash Ltd and its <br>
            licensors. The Service is protected by copyright, trademark, and other laws of both the United Kingdom and foreign countries. <br>
            Our trademarks and trade dress may not be used in connection with any product or service without the prior written consent of <br>
            Yobicash Ltd.
        </p>

        <br><br><br><br>
        <p class="pri_title">Links To Other Web Sites</p>
        <br><br>
        <p class="pri_content">
            Our Service may contain links to third-party web sites or services that are not owned or controlled by Yobicash Ltd.
            <br><br>
            Yobicash Ltd has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party <br>
            web sites or services. You further acknowledge and agree that Yobicash Ltd shall not be responsible or liable, directly or <br>
            indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such <br>
            content, goods or services available on or through any such web sites or services.
            <br><br>
            We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you<br>
            visit.
        </p>

        <br><br><br><br>
        <p class="pri_title">Termination</p>
        <br><br>
        <p class="pri_content">
            We may terminate or suspend your access immediately, without prior notice or liability, for any reason whatsoever, including <br>
            without limitation if you breach the Terms. Upon termination, your right to use the Service will immediately cease.
            <br><br>
            All provisions of the Terms which by their nature should survive termination shall survive termination, including, without <br>
            limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.  
        </p>

        <br><br><br><br>
        <p class="pri_title">Indemnification</p>
        <br><br>
        <p class="pri_content">
            You agree to defend, indemnify and hold harmless Yobicash Ltd and its licensee and licensors, and their employees, <br>
            contractors, agents, officers and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or <br>
            debt, and expenses (including but not limited to attorney's fees), resulting from or arising out of a) your use and access of the <br>
            Service, or b) a breach of these Terms.
        </p>

        <br><br><br><br>
        <p class="pri_title">Limitation Of Liability </p>
        <br><br>
        <p class="pri_content">
            In no event shall Yobicash Ltd, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, <br>
            incidental, special, consequential or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other <br>
            intangible losses, resulting from (i) your access to or use of or inability to access or use the Service; (ii) any conduct or content of <br>
            any third party on the Service; (iii) any content obtained from the Service; and (iv) unauthorized access, use or alteration of your <br>
            transmissions or content, whether based on warranty, contract, tort (including negligence) or any other legal theory, whether or not <br>
            we have been informed of the possibility of such damage, and even if a remedy set forth herein is found to have failed of its<br>
            essential purpose. 
        </p>

        <br><br><br><br>
        <p class="pri_title">Disclaimer</p>
        <br><br>
        <p class="pri_content">
            Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis. The Service is <br>
            provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of <br>
            merchantability, fitness for a particular purpose, non-infringement or course of performance.
            <br><br>
            Yobicash Ltd its subsidiaries, affiliates, and its licensors do not warrant that a) the Service will function uninterrupted, secure or <br>
            available at any particular time or location; b) any errors or defects will be corrected; c) the Service is free of viruses or other <br>
            harmful components; or d) the results of using the Service will meet your requirements.
        </p>

        <br><br><br><br>
        <p class="pri_title">Exclusions</p>
        <br><br>
        <p class="pri_content">
            Without limiting the generality of the foregoing and notwithstanding any other provision of these terms, under no circumstances <br>
            will Yobicash Ltd ever be liable to you or any other person for any indirect, incidental, consequential, special, punitive or <br>
            exemplary loss or damage arising from, connected with, or relating to your use of the Service, these Terms, the subject matter of <br>
            these Terms, the termination of these Terms or otherwise, including but not limited to personal injury, loss of data, business, <br>
            markets, savings, income, profits, use, production, reputation or goodwill, anticipated or otherwise, or economic loss, under any <br>
            theory of liability (whether in contract, tort, strict liability or any other theory or law or equity), regardless of any negligence or <br>
            other fault or wrongdoing (including without limitation gross negligence and fundamental breach) by Yobicash Ltd or any person <br>
            for whom Yobicash Ltd is responsible, and even if Yobicash Ltd has been advised of the possibility of such loss or damage being 
            incurred.
        </p>
    
        <br><br><br><br>
        <p class="pri_title">Governing Law</p>
        <br><br>
        <p class="pri_content">
            These Terms shall be governed and construed in accordance with the laws of England and Wales, without regard to its conflict <br>
            of law provisions.
            <br><br>
            Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of <br>
            these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. <br>
            These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior <br>
            agreements we might have between us regarding the Service.
        </p>

        <br><br><br><br>
        <p class="pri_title">Changes</p>
        <br><br>
        <p class="pri_content">
            We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to <br>
            provide at least 15 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our <br>
            sole discretion.
            <br><br>
            By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. <br>
            If you do not agree to the new terms, you must stop using the service.
        </p>

        <br><br><br><br>
        <p class="pri_title">Privacy Policy nd Cookie Policy</p>
        <br><br>
        <p class="pri_content">
            Please refer to our Privacy Policy and Cookies Policy. You agree that they constitute part of these terms. You must read our<br>
            Privacy Policy and Cookies Policy before you use the Service.
        </p>

        <br><br><br><br>
        <p class="pri_title">Contact Us</p>
        <br><br>
        <p class="pri_content">
            If you have any questions about these Terms, please contact us.
        </p>
    </div>
    <app-contact></app-contact>
</body>

</html>