<link rel="stylesheet" type="text/css" href="./../../assets/styles/css/contact.css">
<div class="footer" style="background : url('./../../assets/svg/footer.svg')">
  <img src="./../../assets/svg/footer_logo.svg" id="footer_logo">
  <div class="footer_wrapper">
    <a href="https://maps.google.com/?q=483 green lanes,london"><img src="./../../assets/svg/location.svg" id="location" alt="pin">
          <div id="location_content">
          <p>YOBICASH LTD</p>
          <p>483 GREEN LANES</p>
          <p>LONDON</p>
          <p>UNITED KINGDOM  N13 4BS</p>
          </div>
          <div id="contact">
              <a href="mailto:info@yobicash.org" id="contact_us">CONTACT US</a>
    <p id="email">info@yobicash.org</p>
  </div>
  <div id="footer_images">
    <a href="https://twitter.com/yobicash"><img src="./../../assets/svg/twitter.svg"></a>
    <a href="https://medium.com/yobicash" class="footer_images"><img src="./../../assets/svg/medium.svg"></a>
    <a href="https://telegram.com/yobicash" class="footer_images"><img src="./../../assets/svg/telegram.svg"></a>
    <a href="https://github.com/yobicash" class="footer_images"><img src="./../../assets/svg/github.svg"></a>
  </div>